 
.main{
    height: 1064px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 
header{
    display: flex;
    justify-content: space-between;
}
.volta{
    width: 60px;
    height: 60px;
}
.home{
    width: 60px;
    height: 60px;
}
.containerValor{
    text-align: center;
    margin: 125px 0px 10px 0px;
    font-size: 19px;
    font-weight: bold;
}
.containerinfos,
.containerinfos2{
    text-align: end;
    margin: 91px 24px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}
.containerinfos p,
.containerinfos2 p{
        margin-bottom: 19px;
}
.containerinfos{
    margin-bottom: 135px;
}
footer{
    text-align: center;
}
.compartBtn{
    margin: 58px 10px 10px 10px;
    padding: 15px 131px;
    border: none;
    background-color: #ff7a01;
    color: white;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 600;
}