@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;600;700;800&display=swap');
:root{
    --largura: 450px;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: var(--largura);
}
body{
    background-color: aqua;
    width: var(--largura);
    color: gray;
    font-family: 'Sora', sans-serif;
}
.guia{
    width: var(--largura);
    position: absolute;
    z-index: -10;
    opacity: 1;
}
.corFundo{
    background-color: white;
    width: 100%;
    height: 198px;
    position: absolute;
    z-index: -1;
    display: block;
}
img{
    opacity: .5;
}
header{
    color: black;
}
header img,
.btnMain{
    opacity: 1;
}
.headerSuperior{
    padding: 27px 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.saldo {
    font-size: 17px;
    font-weight: bold;
    margin: 6px 0px 0px 23px;
}
.headerCentral span{
    display: flex;
    align-items: center;
}
.headerCentral img{
    margin-top: 7px;
}
.verExtrato{
    width: fit-content;
    padding: 15px 13px 13px 24px;
    font-size: 9px;
    margin-bottom: 17px;
    color: #ff7a01;
}
.headerInferior{
    display: flex;
    width: 100%;
    margin: 0px 23px;
}
.btnMain{
    background-color: white;
    width: 129px;
    height: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    overflow: hidden;
}
.btnMain:nth-child(2){
    margin: 0px 8px;
}
.btnMain p{
    font-size: 10px;
    font-weight: bold;
}
.expandirMenu{
    margin: 10px 85px;
    scale: 1.3;
}
