 
 
.corFundo{
    background-color: white;
    width: 100%;
    height: 198px;
    position: absolute;
    z-index: -1;
    display: block;
}

header{
    color: black;
}
header img,
.btnMain{
    opacity: 1.5;
}
.headerSuperior{
    padding: 27px 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.saldo {
    font-size: 17px;
    font-weight: bold;
    margin: 6px 0px 0px 23px;
}
.headerCentral span{
    display: flex;
    align-items: center;
}
.headerCentral img{
    margin-top: 7px;
}
.verExtrato{
    width: fit-content;
    padding: 15px 13px 13px 24px;
    font-size: 9px;
    margin-bottom: 17px;
    color: #ff7a01;
    font-weight: bold;
}
.headerInferior{
    display: flex;
    width: 100%;
    margin: 0px 23px;
}
.btnMain{
    background-color: white;
    width: 129px;
    height: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid #dfdee3;
}
.hoverBtnMain{
    width: 129px;
    height: 129px;
    background-color: black;
    position: absolute;
    border-radius: 7px;
    opacity: 0;
}
.hoverBtnMain:hover{
    opacity: .1;
}


.btnMain:nth-child(2){
    margin: 0px 8px;
}
.btnMain p{
    font-size: 10px;
    font-weight: bold;
}
.expandirMenu{
    margin: 10px 85px;
    scale: 1.3;
}
